services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: jarvis-qdrant
    ports:
      - "6333:6333"
      # - "6334:6334"
    volumes:
      # - qdrant_storage:/qdrant/storage
      - ./qdrant_data:/qdrant/storage
    # environment:
    #   - QDRANT__SERVICE__GRPC_PORT=6334
  postgres:
    image: postgres:17.2-alpine
    container_name: jarvis-postgres
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=jarvis
      - POSTGRES_PASSWORD=jarvis_pwd
      - POSTGRES_DB=jarvis

  redis:
    image: redis:7
    container_name: jarvis-redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data
    environment:
      - REDIS_PASSWORD=jarvis_pwd
#   app:
#     build: .
#     container_name: jarvis-app
#     ports:
#       - "8000:8000"
#     volumes:
#       - ./data:/app/data
#       - ./app:/app/app
#     environment:
#       - QDRANT_HOST=qdrant
#       - QDRANT_PORT=6333
#     depends_on:
#       - qdrant
#     env_file:
#       - .env

# volumes:
#   qdrant_storage:

